<h1 align="center">Liste des Fournisseurs</h1>

Votre école est :
{{ecole}}
Pour ajouter un fournisseur, cliquer <a href="{{path('provider_ajout')}}">ici</a>
<table align="center" border="1">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Email</th>
		<th>Adress</th>
	</tr>
	{% for provider in providers %}
		<tr>
			<td>{{provider.id}}</td>
			<td>{{provider.name}}</td>
			<td>{{provider.email}}</td>
			<td>{{provider.adress}}</td>
		</tr>
	{% endfor %}
</table>
