{% extends 'base.html.twig' %}

  {% block menu %}
            <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="{{path('crud_ajax')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider Add Ajax</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_list')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider List</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('provider_new')}}" class="nav-link active">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Provider Add</p>
                </a>
              </li>
            </ul>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{path('sendmail')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Ecrire un message</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{path('cours')}}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Conversion Devise</p>
                </a>
              </li>
            </ul>
            {% endblock %}

{% block body %}
    <h1>Create new Provider</h1>

    {{ include('provider/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('provider_list') }}">back to list</a>
{% endblock %}
