{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}

<form action="{{path('searchByProvider')}}" method="POST">

 <div class="form-group">
    <label for="Search">Chercher article par fournisseur:</label>
    <input id="Search" name="nom" type="text" class="form-control" placeholder="nom article"/>

     <input type="submit" class="btn btn-primary" placeholder="Chercher"/>
 </div>

</form>
    <h1>Article index</h1>

    <h2>Total des Article {{total}}</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Prix</th>
                <th>Quantite</th>
                <th>Fournisseur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.name }}</td>
                <td>{{ article.prix }}</td>
                <td>{{ article.quantite }}</td>
                <td>{{ article.provider.name }}</td>
                <td>
                    <a href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('article_new') }}" class="btn btn-primary">Create new</a>
{% endblock %}
